<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>chap01-life-cycle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>xmlmapping</servlet-name>
  	<servlet-class>com.uni.section01.xml.LifeCXCycleTestServlet</servlet-class><!-- 실제로는 web 폴더안에 클래스 파일이 동작  -->
  	<!-- 서블릿이 시작될때 순서대로 실행을 하는데 제일 먼저 시작시키고 싶을땐 0으로 준다. -->
  	<load-on-startup>100</load-on-startup> 
   <!--<load-on-startup>0</load-on-startup>  -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>xmlmapping</servlet-name>
  	<url-pattern>/xml-lifecyle</url-pattern>
  </servlet-mapping>
</web-app>